#u776-6
{
	font-family: open-sans-n4, sans-serif;
}

#u779-6
{
	font-family: open-sans-n4, sans-serif;
}

#u785-6
{
	font-family: open-sans-n4, sans-serif;
}

#u781-6
{
	font-family: open-sans-n4, sans-serif;
}

#u1040-4
{
	font-family: open-sans-n8, sans-serif;
}

#u623-9,#u1042-4,#u1043-2,#u1179-4,#u866-4
{
	font-family: open-sans-n3, sans-serif;
}

#u892-4
{
	font-family: open-sans-n3, sans-serif;
}

#u894-4
{
	font-family: open-sans-n3, sans-serif;
}

#u931-4,#u933-4
{
	font-family: open-sans-n3, sans-serif;
}

